references/
tex/formopt.pdf
code/deprecated/
code/__pycache__/
site/
code/mesh_scripts.py
code/Elasticity*
code/phiFEM*
results/Elasticity/
results/phiFEM/
*.lyx~
*.npz
*.npy
*.out
*.h5
*.xdmf
*.msh
*.pyc
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.gz


